<div class="dashboard py-5">
</div>
<div class="container mb-2 pb-5">
  <div class="dash-cont shadow">
    <div class="dashboard">
      <div class="d-flex  w-100 justify-content-between" style="padding: 20px 32px;">
        <div class="left d-flex flex-row align-items-center">
          <img src="/assets/images/user.jpg" alt="no-img" class="dash-back-user-img shadow-sm">
          <div class="welcom-div ms-3 shadow-sm">
            <h6 class="mb-1">Hi Rishabh! | Welcome to admin dashboard</h6>
          </div>
        </div>
        <div class="right">
          <img src="/assets/images/dashboard-right.svg" alt="no-img" class="right-img img-fluid">
        </div>
      </div>
    </div>
    <div class="dash-menus bg-dark d-flex flex-row">
        <a href="dfdlfkd" alt="no-link" class="dash-menu-link active">Dashboard</a>
        <a href="dfdlfkd" alt="no-link" class="dash-menu-link">Profile</a>
        <a href="dfdlfkd" alt="no-link" class="dash-menu-link">Orders</a>
        <a href="dfdlfkd" alt="no-link" class="dash-menu-link">Users</a>
        <a href="dfdlfkd" alt="no-link" class="dash-menu-link">Products</a>
        <a href="dfdlfkd" alt="no-link" class="dash-menu-link">Logout</a>
    </div>
    <div class="p-4 m-2">
      <div class="row">
        <div class="col-sm-3">
          <div class="dash-in-box">
              <div class="d-flex in align-items-center p-3">
                <div class="me-3">
                  <div class="circle mx-auto d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </div>
                </div>
                <div class="">
                  <h6>Users</h6>
                  <h6 class="mb-0"><small>29</small></h6>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="dash-in-box">
              <div class="d-flex in align-items-center p-3">
                <div class="me-3">
                  <div class="circle mx-auto d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </div>
                </div>
                <div class="">
                  <h6>Orders</h6>
                  <h6 class="mb-0"><small>29</small></h6>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="dash-in-box">
              <div class="d-flex in align-items-center p-3">
                <div class="me-3">
                  <div class="circle mx-auto d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </div>
                </div>
                <div class="">
                  <h6>Transactions</h6>
                  <h6 class="mb-0"><small>29</small></h6>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="dash-in-box">
              <div class="d-flex in align-items-center p-3">
                <div class="me-3">
                  <div class="circle mx-auto d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </div>
                </div>
                <div class="">
                  <h6>Products</h6>
                  <h6 class="mb-0"><small>29</small></h6>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider my-0" style="background-color: gainsboro; opacity: 0.4">
    <div class="p-4 m-2">
      <app-user-detail></app-user-detail>
    </div>
    <hr class="divider my-0" style="background-color: gainsboro; opacity: 0.4">
    <div class="p-4 m-2">
      <app-order-detail></app-order-detail>
    </div>
    <div class="p-4 m-2">
      <app-admin-profile></app-admin-profile>
    </div>
    <div class="p-4 m-2">
      <app-admin-notification></app-admin-notification>
    </div>
    <div class="p-4 m-2">
      <app-admin-products></app-admin-products>
    </div>
    <div class="p-4 m-2">
      <app-add-product></app-add-product>
    </div>
  </div>
</div>