<div class="p-4">
	<div class="profile pb-4">
		<div class="container">
			<div class="row"> 
				<div class="col-sm-12">								
					<div>
						<h4>Profile</h4> 
						<div class="bg-light px-4 py-5 mt-4 rounded shadow-sm border">
							<form [formGroup]="adminProfile" (ngSubmit)="onSubmit()">
								<div class="row">
									<div class="col-sm-3">
										<div class="d-flex flex-row mt-0 align-items-center">
											<input type="file" class="d-none" id="adminprofile" formControlName="profileImage" (change)="upload($event)">
											<label for="adminprofile" class="position-relative">
												<img *ngIf="!adminProfile?.get('imageUrl')?.value" src="/assets/images/user.jpg" alt="no-img" class="img-fluid user-pro-img">
												<img *ngIf="adminProfile?.get('imageUrl')?.value" [src]="adminProfile?.get('imageUrl')?.value" alt="no-img" class="img-fluid user-pro-img">
												<div class="loader position-absolute" *ngIf="imageLoading">
													<i class="fa fa-spinner fa-spin text-white" aria-hidden="true"></i>
												</div>
											</label>
											<!-- <div>{{ uploadPercent | async }}</div> -->
											<!-- {{downloadURL}} -->
										</div>
										<p class="form-error text-danger mt-2 mb-0" *ngIf="!adminProfile?.get('profileImage')?.valid && adminProfile?.get('profileImage')?.touched || submitted && adminProfile?.get('profileImage')?.invalid">
											Profile images is required
										</p>
									</div>
									<div class="col-sm-9">
										<div class="row mt-5">
											<div class="col-sm-4">
												<div class="input-group shadow-sm" style="height: 50px;">
													<span class="input-group-text rounded-0 border-0 px-3 bg-white" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
													<input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Name" formControlName="name" style="background-color: white;">
												</div>
												<p class="form-error text-danger mt-2 mb-0" *ngIf="!adminProfile?.get('name')?.valid && adminProfile?.get('name')?.touched || submitted && adminProfile?.get('name')?.invalid">
													Name is required
												</p>
											</div>
											<div class="col-sm-4">
												<div class="input-group shadow-sm border" style="height: 50px;" (click)="onClickEmail()">
													<span class="input-group-text rounded-0 border-0 px-3 bg-light" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
													<input type="email" class="form-control rounded-0 border-0 shadow-none bg-light" placeholder="Enter Email" formControlName="email">
												</div>
												<p class="form-error text-danger mt-2 mb-0" *ngIf="!adminProfile?.get('email')?.valid && adminProfile?.get('email')?.touched || submitted && adminProfile?.get('email')?.invalid">
													Email is required
												</p>
												<!-- <p class="form-error text-danger mt-2 mb-0" *ngIf="!adminProfile?.get('email')?.valid && adminProfile?.get('email')?.touched || submitted && adminProfile?.get('email')?.errors?.status">
													Email is required
												</p> -->
											</div>
											<div class="col-sm-4">
												<div class="">
													<button class="btn btn-primary w-100 rounded-0 mt-0" style="height: 50px;">Update profile</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>