.login {background-color: #f6f6f6;position: relative; }
.login .overlay { width: 100%;height: 100%;background-color: rgba(255, 0, 10, 0.3); }
.login .right-cont {width: 340px;background: white;left: -100px;top: 50px;border-radius: 4px;}
.login .right-cont a {color: rgba(255, 0, 10, 1) !important;}
.login .right-cont .h-50 {height: 50px !important;}
.login .right-cont .input-group-text {height: 50px;}
h1, h4 {font-family: 'DM Serif Display', serif;}