<div class="login">
  <div class="d-flex">
    <div class="left-div bg-dark d-flex align-items-center">
      <div class="tagline-div">
        <img src="/assets/images/login.svg" alt="no-img" class="img-fluid">
        <h4 class="text-white mt-4">Shop Smart, Shop with a 'TRUST' of NGcommerce</h4>
        <button class="btn btn-primary">Explore Discount Sale</button>
      </div>
    </div>
    <div class="right-div position-relative">
      <div class="right-cont shadow-sm p-4">
          <h1 class="text-center pb-2">Register</h1>
          <img src="/assets/images/register-back.png" alt="no-img" class="img-fluid lock-img">
          <form action="" class="mt-2">
            <div class="input-group mb-4 shadow-sm">
              <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
              <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4 shadow-sm">
              <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
              <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4 shadow-sm">
              <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input type="password" class="form-control rounded-0 border-0" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Register" class="btn btn-primary w-100 h-50 mb-2">
          </form>
          <hr />
          <div class="py-2 text-center">
            <small>Already Registered? <a href="/forgot-password" alt="no-text">login</a> here</small>
          </div>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</div>