<div class="contact py-5">
  <div class="container">
    <div class="row align-items-center justify-content-center g-0">
      <div class="col-sm-5">
          <div class="contact-right p-4 p-sm-5 shadow">
            <h2 class="mb-3 mb-sm-5">Change Password</h2>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="mb-4">
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-transparent rounded-0 border-0 px-3"><i class="fa-solid fa-envelope"></i></span>
                  <input type="password" formControlName="newPassword" class="form-control rounded-0 border-0 shadow-none" placeholder="New Password"  style="background-color: aliceblue;">
                </div>
                <p class="form-error text-danger mt-2 mb-0" *ngIf="!changePasswordForm?.get('newPassword')?.valid && changePasswordForm?.get('newPassword')?.touched || submitted && changePasswordForm?.get('newPassword')?.invalid">
                  New password is required
                </p>
              </div>
              <div class="mb-4">
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-transparent rounded-0 border-0 px-3"><i class="fa-solid fa-envelope"></i></span>
                  <input type="password" formControlName="confirmPassword" class="form-control rounded-0 border-0 shadow-none" placeholder="Confirm Password"  style="background-color: aliceblue;">
                </div>
                <p class="form-error text-danger mt-2 mb-0" *ngIf="!changePasswordForm?.get('confirmPassword')?.valid && changePasswordForm?.get('confirmPassword')?.touched || submitted && changePasswordForm?.get('confirmPassword')?.invalid">
                  Confirm password is required
                </p>
              </div>
              <input type="submit" value="Change Password" class="btn btn-primary w-100 rounded-0">
            </form>
          </div>
      </div>
    </div>
  </div>
</div>