<div class="dashboard py-5">
</div>
<div class="container mb-2 pb-5">
  <div class="dash-cont shadow">
    <div class="dashboard">
      <div class="d-flex  w-100 justify-content-between" style="padding: 20px 32px;">
        <div class="left d-flex flex-row align-items-center">
          <!-- <img src="/assets/images/user.jpg" alt="no-img" class="dash-back-user-img shadow-sm"> -->
          <img *ngIf="singleUserDetails.photoUrl; else userDetails" src="{{singleUserDetails.photoUrl}}" alt="no-img" class="dash-back-user-img shadow-sm">
          <ng-template #userDetails>
            <img src="/assets/images/user.jpg" alt="no-img" class="dash-back-user-img shadow-sm">
            <!-- <div  class="dash-back-user-img shadow-sm"></div> -->
          </ng-template>
          <div class="welcom-div ms-3 shadow-sm">
            <h6 class="mb-1">Hi <span class="text-capitalize mb-1 mb-md-0 d-inline-block" *ngIf="singleUserDetails.displayName">{{singleUserDetails.displayName}}! </span> <span class="" *ngIf="!singleUserDetails.displayName">{{singleUserDetails.email}}, </span> <span class="d-block d-md-inline-block"><span class="d-none d-md-inline-block">&nbsp;|</span> Welcome to user dashboard</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="dash-menus bg-dark d-flex flex-row">
        <a routerLink="/user" alt="no-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dash-menu-link">Dashboard</a>
        <a routerLink="/user/profile" alt="no-link" routerLinkActive="active" class="dash-menu-link">Profile</a>
        <a routerLink="/user/orders" alt="no-link" routerLinkActive="active" class="dash-menu-link">My&nbsp;Orders</a>
        <!-- <a routerLink="/user/wishlist" alt="no-link" routerLinkActive="active" class="dash-menu-link">Wishlist</a>
        <a routerLink="/user/notifications" alt="no-link" routerLinkActive="active" class="dash-menu-link">Notifications</a> -->
        <a (click)="onLogout()" alt="no-link" class="dash-menu-link logout">Logout</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>