<div class="dashboard py-5">
</div>
<div class="container mb-2 pb-5">
  <div class="dash-cont shadow">
    <div class="dashboard">
      <div class="d-flex  w-100 justify-content-between" style="padding: 20px 32px;">
        <div class="left d-flex flex-row align-items-center">
          <img src="/assets/images/user.jpg" alt="no-img" class="dash-back-user-img shadow-sm">
          <div class="welcom-div ms-3 shadow-sm">
            <h6 class="mb-1">Hi Rishabh! | Welcome to dashboard</h6>
          </div>
        </div>
        <div class="right">
          <img src="/assets/images/dashboard-right.svg" alt="no-img" class="right-img img-fluid">
        </div>
      </div>
    </div>
    <div class="dash-menus bg-dark d-flex flex-row">
        <a routerLink="/user" alt="no-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dash-menu-link">Dashboard</a>
        <a routerLink="/user/profile" alt="no-link" routerLinkActive="active" class="dash-menu-link">Profile</a>
        <a routerLink="/user/orders" alt="no-link" routerLinkActive="active" class="dash-menu-link">My Orders</a>
        <a routerLink="/user/wishlist" alt="no-link" routerLinkActive="active" class="dash-menu-link">Wishlist</a>
        <a routerLink="/user/notifications" alt="no-link" routerLinkActive="active" class="dash-menu-link">Notifications</a>
        <a routerLink="/" alt="no-link" class="dash-menu-link">Logout</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>