<div class="p-3 p-sm-4 m-0 m-sm-2">
  <div class="row g-3">
    <div class="col-sm-4">
      <div class="dash-in-box">
          <div class="d-flex in align-items-center p-3">
            <div class="me-3">
              <div class="circle mx-auto d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-cart-shopping"></i>
              </div>
            </div>
            <div class="">
              <h6>My Orders</h6>
              <h6 class="mb-0"><small>29</small></h6>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dash-in-box">
          <div class="d-flex in align-items-center p-3">
            <div class="me-3">
              <div class="circle mx-auto d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-heart"></i>
              </div>
            </div>
            <div class="">
              <h6>Wishlist</h6>
              <h6 class="mb-0"><small>29</small></h6>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dash-in-box">
          <div class="d-flex in align-items-center p-3">
            <div class="me-3">
              <div class="circle mx-auto d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-bell"></i>
              </div>
            </div>
            <div class="">
              <h6>Notifications</h6>
              <h6 class="mb-0"><small>29</small></h6>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr class="divider my-0" style="background-color: gainsboro; opacity: 0.4">
<app-my-orders></app-my-orders>
   