<div class="contact py-5 my-2">
  <div class="container">
    <div class="row align-items-center justify-content-center g-0">
      <div class="col-sm-5">
          <div class="contact-right p-5 shadow">
            <h2 class="mb-5">Admin Login</h2>
            <form action="" class="mt-2">
              <div class="input-group mb-4 shadow-sm">
                <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                <input type="email" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Email" aria-label="Username" aria-describedby="basic-addon1" style="background-color: aliceblue;">
              </div>
              <div class="input-group mb-4 shadow-sm">
                <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                <input type="password" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Password" aria-label="Username" aria-describedby="basic-addon1" style="background-color: aliceblue;">
              </div>
              <input type="submit" value="Log Inside" class="btn btn-primary w-100 rounded-0">
            </form>
          </div>
      </div>
    </div>
  </div>
</div>