<div class="contact py-5 my-2">
  <div class="container">
    <div class="row align-items-center justify-content-center g-0">
      <div class="col-sm-6 py-5 bg-light">
        <img src="/assets/images/login-right-back.jpg" alt="no-img" class="contact-left-img shadow">
      </div>
      <div class="col-sm-5">
        <div class="contact-right p-5 shadow">
          <h2 class="mb-5">Feel free to contact us</h2>
          <form action="" class="mt-2">
            <div class="input-group mb-4 shadow-sm">
              <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
              <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4 shadow-sm">
              <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
              <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Your Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4 shadow-sm">
              <textarea name="message" id="" cols="30" rows="10" class="form-control rounded-0 border-0" placeholder="Your Message Here"></textarea>
            </div>
            <input type="submit" value="Get in touch" class="btn btn-primary w-100 h-50">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>