<div class="footer py-5">
  <div class="container">
      <div class="row">
      <div class="col-sm-12">
          <div>
          <h1 class="heading-7">Ngcommerce</h1>
          <div class="w-layout-grid grid-6 wf-grid">
              <div class="foot-card">
              <h4 class="heading-6">Links</h4>
              <ul role="list" class="list">
                  <li><div class="text-block-9 foot-link">home</div></li>
                  <li><div class="foot-link text-block-9">about</div></li>
                  <li><div class="foot-link text-block-9">contact</div></li>
              </ul>
              </div>
              <div class="foot-card">
              <h4 class="heading-6">Links</h4>
              <ul role="list" class="list">
                  <li><div class="text-block-9 foot-link">home</div></li>
                  <li><div class="foot-link text-block-9">about</div></li>
                  <li><div class="foot-link text-block-9">contact</div></li>
              </ul>
              </div>
              <div class="foot-card d-none d-sm-block">
              <h4 class="heading-6">Links</h4>
              <ul role="list" class="list">
                  <li><div class="text-block-9 foot-link">home</div></li>
                  <li><div class="foot-link text-block-9">about</div></li>
                  <li><div class="foot-link text-block-9">contact</div></li>
              </ul>
              </div>
              <div class="foot-card d-none d-sm-block">
              <h4 class="heading-6">Links</h4>
              <ul role="list" class="list">
                  <li><div class="text-block-9 foot-link">home</div></li>
                  <li><div class="foot-link text-block-9">about</div></li>
                  <li><div class="foot-link text-block-9">contact</div></li>
              </ul>
              </div>
          </div>
          <h6 class="heading-7 custome">Copyright 2023 | All Rights Reserved</h6>
          </div>
      </div>
      </div>
  </div>
</div>