<div class="profile pb-4">
  <div class="container">
    <div class="row"> 
      <div class="col-sm-12">
        <div>
          <h4>Profile</h4>
          <div class="bg-light px-4 py-5 mt-4 rounded shadow-sm border">
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex flex-row mt-0 align-items-center">
                  <img src="/assets/images/banner.jpg" alt="no-img" class="img-fluid user-pro-img">
                </div>
              </div>
              <div class="col-sm-8">
                <form action="">
                  <div class="row mt-5">
                    <div class="col-sm-6 mb-5">
                      <div class="input-group shadow-sm" style="height: 50px;">
                        <span class="input-group-text rounded-0 border-0 px-3 bg-white" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Name" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                      </div>
                    </div>
                    <div class="col-sm-6 mb-5">
                      <div class="input-group shadow-sm" style="height: 50px;">
                        <span class="input-group-text rounded-0 border-0 px-3 bg-white" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Email" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="">
                        <textarea name="" id="" cols="20" rows="8" placeholder="Add Your Address Here" class="w-100 border-0 form-control shadow shadow-sm mb-5"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div>
                        <button class="btn btn-primary w-100 rounded-0 mt-0" style="height: 50px;">Update profile</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>