<div class="new-pick py-5 mb-2">
  <div class="container-fluid">
    <div class="row g-3 position-relative">
      <div class="col-sm-12">
        <div class="clearfix px-4">
          <div class="float-start">
          <h2 class="mb-3">Product Search Result <small>(<span *ngIf="filterLength">{{filteredArray.length}}</span>)</small></h2>
          </div>
          <div class="float-end">
            <div class="input-group search-div">
              <input type="text" class="form-control shadow-none border-danger" [(ngModel)]="searchText" (input)="filterArray()" placeholder="Search by product {{selectText}}" #inputField>
              <select class="cate" (change)="selectChange($event, inputField)">
                <option value="title" class="" selected>prodcut title</option>
                <option value="category" class="">category</option>
              </select>
              <button type="button" class="btn btn-outline-secondary search-con" (click)="filterArray()"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div>
            </div>
          </div>
        </div>
        <hr class="divider mb-5" style="background-color: gainsboro; opacity: 0.1">
      </div>

      <div class="col-sm-3" *ngFor="let item of filteredArray">
        <div class="card-cont">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b7e7c76df4ef721334346f_Add%20a%20heading%20(2)%20(1).png" loading="lazy" width="120" alt="" class="image-11">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b673b2b19e119bfc7f991a_img-shirt.jpg" loading="lazy" width="274" alt="" class="image-10">
          <h5 class="product-heading">{{item.title}}</h5>
          <div class="div-block-15">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <div class="text-block-8">(52k)</div>
          </div>
          <div class="div-block-17">
              <p class="discount italic">${{item.price}}.00</p>
              <div class="d-flex flex-row ps-1"  *ngIf="item.hasdiscount !== 'No Discount'">
                <div class="discount custom">M.R.P: </div>
                <div class="discount custom other overline"> ${{item.price * 100/item.discoujntpercentage}}.00 </div>
                <div class="discount custom other">({{item.discoujntpercentage}}% off)</div>
              </div>
            </div>
            <a [routerLink]="['/product', item.userId]" class="w-button btn btn-primary stretched-link">See Details</a>
          </div>
        <div>
      </div>
      </div>
      <ng-container *ngIf="filterLength">
        <div class="col-sm-12" *ngIf="filteredArray.length == 0">
          <h5 class="text-dank text-center">No Product Found</h5>
        </div>
      </ng-container>
    </div>
  </div>
</div>