<div class="new-pick py-5 mb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix px-4">
          <div class="float-start">
            <h2 class="mb-3">All Products <small>(10)</small></h2>
          </div>
          <div class="float-end">
            <select class="form-select" aria-label="Default select example">
              <option selected>All Products</option>
              <option value="1">Mens Products</option>
              <option value="2">Womens Products</option>
              <option value="3">Trending Products</option>
              <option value="3">Jeans Pants</option>
              <option value="3">T Shirts</option>
              <option value="3">Salwar Suit</option>
            </select>
          </div>
        </div>
        <hr class="divider mb-5" style="background-color: gainsboro; opacity: 0.1">
      </div>
      <div class="col-sm-3">
        <div class="card-cont">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b7e7c76df4ef721334346f_Add%20a%20heading%20(2)%20(1).png" loading="lazy" width="120" alt="" class="image-11">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b673b2b19e119bfc7f991a_img-shirt.jpg" loading="lazy" width="274" alt="" class="image-10">
          <h5 class="product-heading">London Hills Solid Men Half Sleeve Round Neck T-Shirt (Pack of 3)</h5>
          <div class="div-block-15">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <div class="text-block-8">(52k)</div>
          </div>
          <div class="div-block-17">
              <p class="discount italic">$20.00</p>
              <div class="d-flex flex-row ps-1">
                <div class="discount custom">M.R.P: </div>
                <div class="discount custom other overline"> $40.00 </div>
                <div class="discount custom other">(50% off)</div>
              </div>
            </div>
            <a href="#" class="w-button btn btn-primary">See Details</a>
          </div>
        <div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card-cont">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b7e7c76df4ef721334346f_Add%20a%20heading%20(2)%20(1).png" loading="lazy" width="120" alt="" class="image-11">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b673b2b19e119bfc7f991a_img-shirt.jpg" loading="lazy" width="274" alt="" class="image-10">
          <h5 class="product-heading">London Hills Solid Men Half Sleeve Round Neck T-Shirt (Pack of 3)</h5>
          <div class="div-block-15">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <div class="text-block-8">(52k)</div>
          </div>
          <div class="div-block-17">
              <p class="discount italic">$20.00</p>
              <div class="d-flex flex-row ps-1">
                <div class="discount custom">M.R.P: </div>
                <div class="discount custom other overline"> $40.00 </div>
                <div class="discount custom other">(50% off)</div>
              </div>
            </div>
            <a href="#" class="w-button btn btn-primary">See Details</a>
          </div>
        <div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card-cont">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b7e7c76df4ef721334346f_Add%20a%20heading%20(2)%20(1).png" loading="lazy" width="120" alt="" class="image-11">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b673b2b19e119bfc7f991a_img-shirt.jpg" loading="lazy" width="274" alt="" class="image-10">
          <h5 class="product-heading">London Hills Solid Men Half Sleeve Round Neck T-Shirt (Pack of 3)</h5>
          <div class="div-block-15">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <div class="text-block-8">(52k)</div>
          </div>
          <div class="div-block-17">
              <p class="discount italic">$20.00</p>
              <div class="d-flex flex-row ps-1">
                <div class="discount custom">M.R.P: </div>
                <div class="discount custom other overline"> $40.00 </div>
                <div class="discount custom other">(50% off)</div>
              </div>
            </div>
            <a href="#" class="w-button btn btn-primary">See Details</a>
          </div>
        <div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card-cont">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b7e7c76df4ef721334346f_Add%20a%20heading%20(2)%20(1).png" loading="lazy" width="120" alt="" class="image-11">
          <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b673b2b19e119bfc7f991a_img-shirt.jpg" loading="lazy" width="274" alt="" class="image-10">
          <h5 class="product-heading">London Hills Solid Men Half Sleeve Round Neck T-Shirt (Pack of 3)</h5>
          <div class="div-block-15">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
            <div class="text-block-8">(52k)</div>
          </div>
          <div class="div-block-17">
              <p class="discount italic">$20.00</p>
              <div class="d-flex flex-row ps-1">
                <div class="discount custom">M.R.P: </div>
                <div class="discount custom other overline"> $40.00 </div>
                <div class="discount custom other">(50% off)</div>
              </div>
            </div>
            <a href="#" class="w-button btn btn-primary">See Details</a>
          </div>
        <div>
      </div>
      </div>
      
    </div>
  </div>
</div>