<div class="new-pick py-5 pt-4 pt-lg-5 mb-lg-2">
  <div class="container ">
    <div class="row g-3 position-relative">
      <div class="col-sm-12">
        <div class="clearfix px-sm-4">
          <div class="float-lg-start">
          <h2 class="mb-3">Product Search Result <small>(<span *ngIf="filterLength">{{filteredArray.length}}</span>)</small></h2>
          </div>
          <div class="float-lg-end">
            <div class="input-group search-div">
              <input type="text" class="form-control shadow-none border-danger" [(ngModel)]="searchText" (input)="filterArray()" placeholder="Search by product {{selectText}}" #inputField>
              <select class="cate" (change)="selectChange($event, inputField)">
                <option value="title" class="" selected>by prodcut</option>
                <option value="category" class="">by category</option>
              </select>
              <button type="button" class="btn btn-outline-secondary search-con" (click)="filterArray()"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div>
            </div>
          </div>
        </div>
        <hr class="divider mb-4 mb-lg-5" style="background-color: gainsboro; opacity: 0.1">
      </div>
    
    <ng-container>
      <app-product-catalog [productsSearchChild]="filteredArray" [key]="key"></app-product-catalog>
    </ng-container>  
    <ng-container *ngIf="filterLength">
      <div class="col-sm-12" *ngIf="filteredArray.length == 0">
        <h5 class="text-dank text-center">No Product Found</h5>
      </div>
    </ng-container>
  </div>
</div>