<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="banner">
      <div class="container-fluid ban-cont">
        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div class="d-flex justify-content-center align-items-start ban-heading flex-column">
                  <h1 class="text-dark">Shop The Best Clothing Ever</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur! Soluta neque nihil obcaecati rem. Pariatur perferendis eius.</p>
                  <a role="button" routerLink="/product/search" class="btn btn-primary rounded-0">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="banner">
      <div class="container-fluid ban-cont">
        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div class="d-flex justify-content-center align-items-start ban-heading flex-column">
                  <h1 class="text-dark">Shop The Best Clothing Ever</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur! Soluta neque nihil obcaecati rem. Pariatur perferendis eius.</p>
                  <a role="button" routerLink="/product/search" class="btn btn-primary rounded-0">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="banner">
      <div class="container-fluid ban-cont">
        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div class="d-flex justify-content-center align-items-start ban-heading flex-column">
                  <h1 class="text-dark">Shop The Best Clothing Ever</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequatur! Soluta neque nihil obcaecati rem. Pariatur perferendis eius.</p>
                  <a role="button" routerLink="/product/search" class="btn btn-primary rounded-0">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>  
</owl-carousel-o>

<div class="trending py-5 my-2">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
      <div>
        <h2 class="me-sm-2"><span class="high-text">#50</span> Trending Clothing Wear</h2>
      </div>
      <div class="flex-fill">
        <div class="row g-3">
          <ng-container *ngFor="let item of productArray">
            <div class="col-6 col-xl-3" *ngIf="item.hasdiscount !== 'No Discount'">
              <div class="card shadow-sm">
                <div class="row g-0">
                  <div class="col-md-5">
                    <img src="https://cdn.shopify.com/s/files/1/0249/4110/1152/products/TS078_MAROON_FRONT.jpg?v=1623061994" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.desone}}</p>
                      <p class="card-text mb-1"><strong class="text-color">${{item.price}}.00</strong></p>
                      <a [routerLink]="['/product', item.userId]" class="text-danger stretched-link"><small>View Product</small></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- <div class="col-6 col-xl-3">
            <div class="card shadow-sm">
              <div class="row g-0">
                <div class="col-md-5">
                  <img src="https://rukminim1.flixcart.com/image/612/612/l41n2q80/t-shirt/k/x/j/l-1jgrf-013-blk-jugular-original-imagff7w8tfwd2dr.jpeg?q=70" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting.</p>
                    <p class="card-text"><strong class="text-color">$30.00</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card shadow-sm">
              <div class="row g-0">
                <div class="col-md-5">
                  <img src="https://n4.sdlcdn.com/imgs/k/e/t/Veirdo-100-Cotton-Regular-Fit-SDL219315225-1-b7c92.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting.</p>
                    <p class="card-text"><strong class="text-color">$30.00</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-3">
            <div class="card shadow-sm">
              <div class="row g-0">
                <div class="col-md-5">
                  <img src="https://m.media-amazon.com/images/I/51AhpP3CcnL._UX425_.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting.</p>
                    <p class="card-text"><strong class="text-color">$30.00</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        
      </div>
    </div>
  </div>
</div>

<hr class="divider my-0" style="background-color: gainsboro; opacity: 0.1">

<div class="category py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center mb-5">Shop by category</h2>
      </div>
      <div class="col-sm-12">
        <div class="d-flex flex-row flex-wrap justify-content-between px-3 px-0 justify-content-sm-center">
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
          <div class="text-center mx-2 mx-sm-5">
            <div class="cont shadow">
              <div class="img-cont">
                <i class="fa-solid fa-shirt"></i>
              </div>
            </div>
            <h5 class="mt-3">Jeans Pants</h5>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

<hr class="divider my-0" style="background-color: gainsboro; opacity: 0.1">

<div class="shop-in-easy-steps py-5">
  <div class="container">
    <div class="row g-0">
      <div class="col-sm-12">
        <h2 class="text-center mb-5">Shop in 4 easy steps</h2>
      </div>
      <div class="col-sm-6">
          <div>
            <img src="/assets/images/easy-steps.svg" alt="no-img" class="img-fluid left">
          </div>
      </div>
      <div class="col-sm-6">
          <div>
            <img src="/assets/images/easy-steps-right.png" alt="no-img" class="img-fluid right">
          </div>
      </div>
    </div>
  </div>
</div>

<hr class="divider my-0" style="background-color: gainsboro; opacity: 0.1">

<div class="new-pick py-5 mb-2">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-sm-12">
        <h2 class="mb-5">Big-Sale offer for you</h2>
      </div>
    </div>
    <ng-container >
      <div class="row" *ngIf="dataloading">
        <div class="col-sm-3" *ngFor="let item of generateFake">
          <div class="bg-white card-cont">
            <div>
                <ngx-skeleton-loader count="1"  [theme]="{
                  'width': '100%', 
                  'height.px': 393,
                  'margin': 0
                }"></ngx-skeleton-loader>
                <h5>
  
                </h5>
                <ngx-skeleton-loader count="3" appearance="line"  [theme]="{
                  'width': '100%', 
                  'height.px': 20,
                  'margin': 10
                }"></ngx-skeleton-loader>
                <hr class="mt-0" />
                <div class="row g-1">
                  <div class="col-sm-4">
                    <ngx-skeleton-loader count="1" appearance="line"  [theme]="{
                      'width': '100%', 
                      'height.px': 50,
                      'margin': 0
                    }"></ngx-skeleton-loader>
                  </div>
                  <div class="col-sm-4">
                    <ngx-skeleton-loader count="1" appearance="line"  [theme]="{
                      'width': '100%', 
                      'height.px': 50,
                      'margin': 0
                    }"></ngx-skeleton-loader>
                  </div>
                  <div class="col-sm-4">
                    <ngx-skeleton-loader count="1" appearance="line"  [theme]="{
                      'width': '100%', 
                      'height.px': 50,
                      'margin': 0
                    }"></ngx-skeleton-loader>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </ng-container>
    <ng-container *ngIf="!dataloading">
      <app-product-catalog [productsChild]="productArray" [key]="key"></app-product-catalog>
    </ng-container>
  </div>
</div>

<div class="newsletter py-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-12">
        <div class="div-block-19">
          <h2 class="heading-5">Stay, upto date! what's trending at Ngcommerce</h2>
          <p class="paragraph-5 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          <div class="div-block-18">
            <div class="form-block-3 w-form">
              <form method="get" name="email-form-3" id="email-form-3" aria-label="Email Form 3">
                <input class="text-field w-input" maxlength="256" name="email-2" placeholder="Please, Enter Your Email Address to Subscribe" type="email" id="email-2" required="">
                <div class="text-center">
                  <input type="submit" class="submit-button-3 btn btn-primary" value="Subscribe To Mail Letter">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>