/* banner section starts here */

.banner {background-image: url("https://www.globalblue.com/business/images/article926851.ece/alternates/LANDSCAPE2_970/TFS_Article_2019_970x643.jpg");background-color: #cccccc; height: 500px; background-position: center; background-repeat: no-repeat; background-size: cover; }
.ban-heading {height: 500px;}
.ban-heading h1 {font-size: 70px;max-width: 500px;font-family: 'DM Serif Display', serif;}
.ban-heading p {max-width: 400px;}
.ban-cont {background-image: linear-gradient(53deg, white 30%, transparent);}

/* banner section ends here */

/* is trending starts here */

.trending h2 {min-width: 227px;max-width: 227px;text-align: center;font-family: 'DM Serif Display', serif;}
.trending .card {border: 0px !important;}
.trending .card img {height: 173px;object-fit: cover;object-position: center;}
.trending hr.divider {color: #c3c3c3eb !important;}
.text-color {color: #cd2e34 !important;}
.trending h5 {font-family: 'DM Serif Display', serif;}

/* is trending ends here */

/* catergory starts here */

.category .cont {width: 100px;height: 100px;margin-left: auto;margin-right: auto;border-radius: 50%;border: 2px solid #b9b9b9;text-align: center;display: flex;justify-content: center;align-items: center;}
.category .cont i {font-size: 40px;}
.category h2 {font-family: 'DM Serif Display', serif;}

/* catergory ends here */

/* new pick starts here */

.card-cont {position: relative;overflow: hidden;padding: 18px 18px 26px;border-style: solid;border-width: 1px;border-color: rgb(231, 231, 231);border-radius: 20px;box-shadow: rgb(62 56 56 / 24%) 1px 1px 22px 0px;}
.image-11 {position: absolute;inset: 26px -14px 0% auto;max-width: 100%;vertical-align: middle;display: inline-block;}
.image-10 {display: block;margin-right: auto;margin-left: auto;padding: 0px;max-width: 100%;vertical-align: middle;}
.product-heading {margin-bottom: 4px;font-size: 12px;line-height: 24px;margin-top: 10px;}
.div-block-15 {display: block;}
.card-cont img {max-width: 100%;vertical-align: middle;display: inline-block;}
.text-block-8 {position: relative;left: 2px;top: 3px;display: inline-block;color: rgb(5, 114, 72);}
.div-block-17 {display: flex;}
.discount.italic {font-style: italic;}
.discount {margin-top: 2px;margin-bottom: 10px;padding-top: 7px;padding-bottom: 7px;border-top: 0px solid rgba(255, 22, 22, 0.2);border-bottom: 0px solid rgba(255, 22, 22, 0.2);color: rgb(20, 19, 19);font-size: 24px;font-style: normal;font-weight: 600;}
.discount.custom {position: relative;top: 1px;display: flex;margin-left: 5px;font-size: 11px !important;font-weight: 400;line-height: 37px;}
.discount.custom.other.overline {color: rgb(0, 0, 0);font-style: italic;text-decoration: line-through;}
.discount.custom.other {margin-left: 2px;}
.discount.custom {position: relative;top: 1px;display: flex;margin-left: 5px;font-size: 13px;font-weight: 400;}
.discount.custom.other {margin-left: 2px;}
.button {width: 65%;border-radius: 0px;background-color: rgb(255, 22, 22);text-align: center;}
.w-button {display: inline-block;border-radius: 0px;line-height: 34px;width: 70%;margin-top: 0px;}
.new-pick h2 {font-family: 'DM Serif Display', serif;}

/* new pick ends here */

/* shop in steps starts here */

.shop-in-easy-steps img.left {max-width: 500px;display: block;margin-left: auto;border-right: 1px solid;padding: 50px;}
.shop-in-easy-steps img.right {max-width: 500px;padding: 0px 50px;}
.shop-in-easy-steps h2 {font-family: 'DM Serif Display', serif;}

/* shop in steps ends here */

/* news letter starts here */

.newsletter {background-color: rgb(246, 246, 246);}
.heading-5 {max-width: 500px;margin-right: auto;margin-left: auto;text-align: center;font-family: 'DM Serif Display', serif;}
.paragraph-5 {max-width: 506px;margin-right: auto;margin-left: auto;text-align: center;margin-bottom: 30px;color: rgba(20, 19, 19, 0.74);}
.text-field {min-height: 55px;padding-right: 20px;padding-left: 20px;}
.w-input, .w-select {display: block;width: 100%;height: 38px;padding: 8px 12px;margin-bottom: 10px;font-size: 14px;line-height: 1.428571429;color: #333333;vertical-align: middle;background-color: #ffffff;border: 1px solid #cccccc;}
.submit-button-3 {min-width: 420px;margin-top: 20px;margin-right: auto;margin-left: auto;padding-right: 40px;padding-left: 40px;background-color: #212529 !important;border-color: #212529 !important;letter-spacing: 2px;border-radius: 0px;}
.div-block-18 {max-width: 620px;margin-right: auto;margin-left: auto;}

/* news letter ends here */



