<div class="bg-light">
    <div class="container about-page py-5">
        <div class="row">
            <div class="col-sm-12"><h2 class="text-center mb-5">About</h2></div>
            <div class="col-sm-4">
                <div>
                    <img class="img-fluid rounded rounded-3" src="https://media.istockphoto.com/id/524857851/photo/red-hot-fashion.jpg?s=612x612&w=0&k=20&c=azEaBBL0xT7t6CmPDfcEAsm51Qm1d6Z1duzGTfNqCt8=" alt="no-img">
                </div>
            </div>
            <div class="col-sm-8">
                <div>
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nisi explicabo qui, maxime eum architecto accusamus nostrum vel molestiae quod quos voluptatibus in. Delectus eligendi harum veritatis iusto natus sequi?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis pariatur hic aspernatur vitae ipsa fugiat incidunt qui aut quisquam perspiciatis dolore, nihil aliquid eaque non commodi corrupti, obcaecati ab quaerat.
                    </p>
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nisi explicabo qui, maxime eum architecto accusamus nostrum vel molestiae quod quos voluptatibus in. Delectus eligendi harum veritatis iusto natus sequi?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis pariatur hic aspernatur vitae ipsa fugiat incidunt qui aut quisquam perspiciatis dolore, nihil aliquid eaque non commodi corrupti, obcaecati ab quaerat.
                    </p>
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nisi explicabo qui, maxime eum architecto accusamus nostrum vel molestiae quod quos voluptatibus in. Delectus eligendi harum veritatis iusto natus sequi?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis pariatur hic aspernatur vitae ipsa fugiat incidunt qui aut quisquam perspiciatis dolore, nihil aliquid eaque non commodi corrupti, obcaecati ab quaerat.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>