<div class="d-flex flex-column app-layout">
  <div>
    <app-header></app-header>
  </div>
  <div class="">
      <router-outlet></router-outlet>
      <!-- <app-home></app-home> -->
      <!-- <app-contact></app-contact> -->
      <!-- <app-cart></app-cart> -->
      <!-- <app-login></app-login> -->
      <!-- <app-register></app-register> -->
      <!-- <app-admin-login></app-admin-login> -->
      <!-- <app-forgot-password></app-forgot-password> -->
      <!-- <app-change-password></app-change-password> -->
      <!-- <app-product-individual></app-product-individual> -->
      <!-- <app-product-search></app-product-search> -->
      <!-- <app-admin-dashboard></app-admin-dashboard> -->
      <!-- <app-user-dashboard></app-user-dashboard> -->
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>