.product-individual .grey-back {background-color: #f6f6f6;min-height: 200px;}
.product-individual .white-block {background-color: white;min-height: 800px;margin-top: -46px;border: 1px solid gainsboro;border-top: 3px solid #d74c4c;border-radius: 8px;}
.product-individual .pro-img {position: absolute;top: 0px;max-width: 400px;top: -90px;max-height: 532px;object-fit: cover;}
h4 {font-family: 'DM Serif Display', serif;}
.details {min-height: 395px;}
.loader {height: 200px;}

/* responsive starts here */

@media (min-width: 992px) and (max-width: 1200px) {
  .product-individual .pro-img {max-width: 340px;}
  .details {min-height: 310px;}
}
  
@media (min-width: 768px) and (max-width: 992px) {
  .product-individual .pro-img {max-width: 240px;}
  .details {min-height: 300px;}
}
  
@media (min-width: 576px) and (max-width: 768px) {
  .product-individual .pro-img {position: relative;top: -130px;max-height: 300px;}
  .product-individual .grey-back {background-color: #f6f6f6;min-height: 171px;}
  .details {min-height: inherit;margin-top: -100px;}
}
  
@media (max-width: 576px) {
  .product-individual .pro-img {position: relative;top: -130px;max-height: 300px;}
  .product-individual .grey-back {background-color: #f6f6f6;min-height: 171px;}
  .details {min-height: inherit;margin-top: -100px;}
}
  
  