<div class="row">
    <div class="col-sm-12">
        <div class="clearfix">
        <div class="float-start">
            <h4 class="mb-4">Notifications <small>(20)</small></h4>
        </div>
        <div class="float-end">
            <a href="/dfkdfj" class="text-danger fw-bold">View All Notifications</a>
        </div>
        </div>
    </div>
    <div class="col-sm-12">
      <div>
        <table class="table shadow">
          <tbody>
            <tr class="">
              <th scope="row" class="p-4"><h6 class="mb-0">1</h6></th>
              <td class="p-4"><h6 class="mb-0">You have successfully changed your password.</h6></td>
              <td class="p-4 ms-auto text-end"><i class="fa-solid fa-trash"></i></td>
            </tr>
            <tr class="">
              <th scope="row" class="p-4"><h6 class="mb-0">2</h6></th>
              <td class="p-4"><h6 class="mb-0">You have successfully changed your password.</h6></td>
              <td class="p-4 ms-auto text-end"><i class="fa-solid fa-trash"></i></td>
            </tr>
            <tr class="">
              <th scope="row" class="p-4"><h6 class="mb-0">3</h6></th>
              <td class="p-4"><h6 class="mb-0">You have successfully changed your password.</h6></td>
              <td class="p-4 ms-auto text-end"><i class="fa-solid fa-trash"></i></td>
            </tr>
            <tr class="">
              <th scope="row" class="p-4"><h6 class="mb-0">4</h6></th>
              <td class="p-4"><h6 class="mb-0">You have successfully changed your password.</h6></td>
              <td class="p-4 ms-auto text-end"><i class="fa-solid fa-trash"></i></td>
            </tr>
            <tr class="">
              <th scope="row" class="p-4"><h6 class="mb-0">5</h6></th>
              <td class="p-4"><h6 class="mb-0">You have successfully changed your password.</h6></td>
              <td class="p-4 ms-auto text-end"><i class="fa-solid fa-trash"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>