<div class="new-pick p-2 p-sm-3 pt-4 mt-sm-2 mx-sm-1">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-sm-12">
            <div class="clearfix">
                <div class="float-start">
                  <h4 class="mb-2 mb-sm-4">Products <small>({{productArray.length === 0? '-' : productArray.length}})</small></h4>
                </div>
                <div class="float-end">
                  <a  class="text-danger fw-bold" routerLink="/admin/add-product">Add Product</a>
                </div>
            </div>
        </div>
        <ng-container *ngIf="dataloading">
          <div class="col-sm-6 col-lg-4 col-xl-3 g-3" *ngFor="let item of generateFake">
            <div class="bg-white card-cont">
              <div>
                  <ngx-skeleton-loader count="1"  [theme]="{
                    'width': '100%', 
                    'height.px': 300,
                    'margin': 0
                  }"></ngx-skeleton-loader>
                  <h5>

                  </h5>
                  <ngx-skeleton-loader count="3" appearance="line"  [theme]="{
                    'width': '100%', 
                    'height.px': 20,
                    'margin': 10
                  }"></ngx-skeleton-loader>
                  <hr class="mt-0" />
                  <div class="row g-1">
                    <div class="col-sm-4">
                      <ngx-skeleton-loader count="1" appearance="line"  [theme]="{
                        'width': '100%', 
                        'height.px': 50,
                        'margin': 0
                      }"></ngx-skeleton-loader>
                    </div>
                    <div class="col-sm-4">
                      <ngx-skeleton-loader count="1" appearance="line"  [theme]="{
                        'width': '100%', 
                        'height.px': 50,
                        'margin': 0
                      }"></ngx-skeleton-loader>
                    </div>
                    <div class="col-sm-4">
                      <ngx-skeleton-loader count="1" appearance="line"  [theme]="{
                        'width': '100%', 
                        'height.px': 50,
                        'margin': 0
                      }"></ngx-skeleton-loader>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!dataloading">
          <div class="col-sm-6 col-lg-4 col-xl-3 g-3" *ngFor="let item of productArray; index as ind">
            <div class="card-cont position-relative">
              <div width="120" *ngIf="item.hasdiscount == 'Has Discount'" alt="no-img" class="image-11">Sale | {{item.discoujntpercentage}}% off</div>
              <!-- <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b7e7c76df4ef721334346f_Add%20a%20heading%20(2)%20(1).png" loading="lazy" width="120" alt="" class="image-11"> -->
              <!-- <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b673b2b19e119bfc7f991a_img-shirt.jpg" loading="lazy" width="274" alt="" class="image-10"> -->
              <img [src]="item.productUrl? item.productUrl : '/assets/images/no-image.png'"  loading="lazy" width="274" alt="" class="image-10 pro-img">
              <h5 class="product-heading">{{item.title}}</h5>
              <div class="div-block-15">
                <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
                <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
                <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
                <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
                <img src="https://uploads-ssl.webflow.com/638d9c570d5f31d5f1c848ea/63b5590f7e2c705803ffa141_star_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="20" alt="">
                <div class="text-block-8">(52k)</div>
              </div>
              <div class="div-block-17">
                  <p class="discount italic">₹{{item.price}}</p>
                  <div class="d-flex flex-row ps-1" *ngIf="item.hasdiscount !== 'No Discount'">
                    <div class="discount custom">M.R.P: </div>
                    <div class="discount custom other overline"> ₹{{(item.price * 100 / (100 - item.discoujntpercentage))}}.00 </div>
                    <div class="discount custom other">({{item.discoujntpercentage}}% off)</div>
                  </div>
                </div>
                <!-- <a href="#" class="btn btn-primary w-button stretched-link" [routerLink]="['/product', item.userId]">See Details</a> -->
                <hr class="mt-0">
                <div class="btn-group w-100" role="group" aria-label="Basic example" style="height: 50px;">
                  <button type="button" class="btn btn-success rounded-0" (click)="onEditProduct(item.userId, ind)">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="onDeletingProduct(item.userId, item.title)">Delete</button>
                  <a type="button" class="btn btn-secondary rounded-0" [routerLink]="['/product', item.userId]" (click)="onGetSingleData(item.userId)" style="line-height: 35px;">View</a>
                </div>
              </div>
            <div>
          </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>