<div class="contact py-5">
  <div class="container">
    <div class="row align-items-center justify-content-center g-0">
      <div class="col-sm-5">
          <div class="contact-right p-5 shadow">
            <h2 class="mb-5">Forgot Password</h2>
            <form [formGroup]="forgotForm" class="mt-2" (ngSubmit)="onSubmit()">
              <div class="mb-4">
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-transparent rounded-0 border-0 px-3" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                  <input type="email" formControlName="email" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Email" aria-label="Username" aria-describedby="basic-addon1" style="background-color: aliceblue;">
                </div>
                <p class="form-error text-danger mt-2 mb-0" *ngIf="!forgotForm?.get('email')?.valid && forgotForm?.get('email')?.touched || submitted && forgotForm?.get('email')?.invalid">
                  Email is required
                </p>
              </div>
              <input type="submit" value="Send Password Reset Email" class="btn btn-primary w-100 rounded-0">
            </form>
          </div>
      </div>
    </div>
  </div>
</div>