<div class="profile py-5">
    <div class="container">
      <div class="row"> 
        <div class="col-sm-12">
          <div>
            <h4>Add Product</h4>
            <div class="bg-light px-4 py-5 mt-4 rounded shadow-sm border">
              <div class="row">
                <div class="col-sm-12">
                  <form action="">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="filing" class="pro-file text-center d-flex justify-content-center align-items-center rounded shadow-sm border"><div class="fw-bold">Add Product Image</div></label>
                                <input type="file" id="filing" class="d-none">
                            </div>
                            <div class="col-sm-4">
                                <img src="/assets/images/banner.jpg" alt="no-img" class="product-img img-fluid mb-5">
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="input-group mb-5 shadow-sm" style="height: 50px;">
                          <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Product Title" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group mb-5 shadow-sm" style="height: 50px;">
                          <input type="number" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Product Price" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group mb-5 shadow-sm" style="height: 50px;">
                          <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Has Discount Select Yes or No" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group mb-5 shadow-sm" style="height: 50px;">
                          <input type="number" class="form-control rounded-0 border-0 shadow-none" placeholder="Discount In Percentage" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group mb-5 shadow-sm" style="height: 50px;">
                          <input type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Select Product's Available Sizes" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <textarea name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm mb-5" placeholder="Description Para 1"></textarea>
                      </div>
                      <div class="col-sm-6">
                        <textarea name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm mb-5" placeholder="Description Para 2"></textarea>
                      </div>
                      <div class="col-sm-6">
                        <textarea name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm mb-5" placeholder="Description Para 3"></textarea>
                      </div>
                      <div class="col-sm-6">
                        <textarea name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm mb-5" placeholder="Description Para 4"></textarea>
                      </div>
                      
                      <div class="col-sm-4">
                        <div class="">
                          <button class="btn btn-danger w-100 mt-0 rounded-0" style="height: 50px;">Add product</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  