.img-cont {height: 200px;width: 300px;display: flex;justify-content: center;align-items: center;background-color: #dc3545;border-radius: 4px;}
.img-cont img {height: 200px;object-fit: cover;object-position: center;padding: 8px;}
.pro-file {width: 100%;height: 200px;}
h4 {font-family: 'DM Serif Display', serif;}
.add-product-form input::placeholder,textarea::placeholder,label,select {color: grey !important;}
.add-product-form input,textarea,label,select {color: grey !important;}
.h-50 {height: 50px !important;}
.h-27 {height: 27px !important;}
.h-204 {height: 204px !important;}
.btn-danger:hover {color: #fff;background-color: #212529 !important;border-color: #212529 !important;letter-spacing: 2px;}
.btn-loader {position: absolute;right: 15px;top: 15px;}
.loader {background-color: rgba(0,0,0,0.3);width: 300px;height: 200px;display: flex;justify-content: center;align-items: center;}

/* responsive starts here */

@media (max-width: 575px) {
    .img-cont {width: 100%;}
}