<div class="profile pt-4 pb-5 px-1 px-sm-4">
    <div class="container">
      <div class="row"> 
        <div class="col-sm-12">
          <div>
            <h4>Add Product</h4>
            <div class="bg-light px-3 px-sm-4 py-4 py-sm-5 mt-4 rounded shadow-sm border">
              <div class="row">
                <div class="col-sm-12">
                  <form [formGroup]="addProduct" (ngSubmit)="onAddProduct()" class="add-product-form">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="filing" class="pro-file rounded-0 text-center d-flex mb-5 mb-lg-0 justify-content-center align-items-center rounded shadow-sm border"><div class="fw-bold">Add Product Image</div></label>
                                <input type="file" id="filing" class="d-none" formControlName="productimage" (change)="upload($event, addProduct.get('productUrl')?.value)">
                                <p class="form-error text-danger mt-2 pb-3" *ngIf="!addProduct?.get('productUrl')?.valid && addProduct?.get('productUrl')?.touched || submitted && addProduct?.get('productUrl')?.invalid">
                                  product image is required
                                </p>
                            </div>
                            <div class="col-sm-4">
                              <div class="img-cont mb-5 position-relative">
                                <!-- <img src="/assets/images/banner.jpg" alt="no-img" class="product-img img-fluid"> -->
                                <img *ngIf="!addProduct?.get('productUrl')?.value" src="/assets/images/no-upload.png" alt="no-img" class="img-fluid user-pro-img">
                                <img *ngIf="addProduct?.get('productUrl')?.value" [src]="addProduct.get('productUrl')?.value" alt="no-img" class="img-fluid user-pro-img">
                                <div class="loader position-absolute" *ngIf="imageLoading">
                                  <i class="fa fa-spinner fa-spin text-white" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-8">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-50">
                          <div>
                            <input formControlName="title" type="text" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Product Name" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;height: 50px;">
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('title')?.valid && addProduct?.get('title')?.touched || submitted && addProduct?.get('title')?.invalid">
                              <small>Product Name is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-4">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-50">
                          <div>
                            <input formControlName="price" type="number" class="form-control rounded-0 border-0 shadow-none" placeholder="Enter Product Price ( ₹ )" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;height: 50px;">
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('price')?.valid && addProduct?.get('price')?.touched || submitted && addProduct?.get('price')?.invalid">
                              <small>Product Price is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-50">
                          <div>
                            <select formControlName="category"  class="form-control rounded-0 border-0 shadow-none" id="" style="background-color: white;height: 50px;">
                              <option selected value="">Select Category</option>
                              <option *ngFor="let item of category" [value]="item.value">
                                {{item.value}}
                              </option>
                            </select>
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('category')?.valid && addProduct?.get('category')?.touched || submitted && addProduct?.get('category')?.invalid">
                              <small>Category is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <div class="input-group mb-5 shadow-sm h-50">
                            <select formControlName="hasdiscount"  class="form-control rounded-0 border-0 shadow-none" id="" style="background-color: white;" (change)="onChangeDiscount($event)">
                              <option *ngFor="let item of hasdiscount" [value]="item.value">
                                {{item.value}}
                              </option>
                            </select>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <div class="input-group mb-5 shadow-sm h-50">
                          <input formControlName="discoujntpercentage" type="number" class="form-control rounded-0 border-0 shadow-none" placeholder="Discount In Percentage" aria-label="Username" aria-describedby="basic-addon1" style="background-color: white;" (change)="onApplyPercentage()">
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <!-- <div class="input-group mb-5 shadow-sm" style="height: 50px;">
                          <select formControlName="size"  class="form-control rounded-0 border-0 shadow-none" id="" style="background-color: white;">
                            <option selected value="">Select Size</option>
                            <option *ngFor="let item of size" [value]="item.value">
                              {{item.value}}
                            </option>
                          </select>
                        </div> -->
                        <label for="">Select Size</label>

                        <div class="d-flex flex-row">
                          <div class="input-group mb-5 h-27" *ngFor="let item of sizeArray; index as i">
                            <input id="{{item}}" type="checkbox" [value]="item" name="size" (change)="onChangeSize($event)">
                            <label for="{{item}}" class="ms-1">{{item}}</label>
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('size')?.valid && addProduct?.get('size')?.touched || submitted && addProduct?.get('size')?.invalid">
                              <small>Size is Required</small>
                            </p>
                          </div>
                        </div>

                        

                        <!-- <label for="">Select Size</label>
                        <div class="d-flex flex-row">
                          <div *ngFor="let item of size; let i=index" class="me-2">
                            <label>
                              <input formControlName="size" type="checkbox" [value]="item.value" (change)="onCheckboxChange($event)" />
                              {{item.value}}
                            </label>
                          </div>
                        </div> -->
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-204">
                          <div>
                            <textarea formControlName="desone" name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm rounded-0" placeholder="Description Para 1"></textarea>
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('desone')?.valid && addProduct?.get('desone')?.touched || submitted && addProduct?.get('desone')?.invalid">
                              <small>Description Para 1 is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-204">
                          <div>
                            <textarea formControlName="destwo" name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm rounded-0" placeholder="Description Para 2"></textarea>
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('destwo')?.valid && addProduct?.get('destwo')?.touched || submitted && addProduct?.get('destwo')?.invalid">
                              <small>Description Para 2 is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-204">
                          <div>
                            <textarea formControlName="desthree" name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm rounded-0" placeholder="Description Para 3"></textarea>
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('desthree')?.valid && addProduct?.get('desthree')?.touched || submitted && addProduct?.get('desthree')?.invalid">
                              <small>Description Para 3 is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group mb-5 shadow-sm flex-column flex-nowrap h-204">
                          <div>
                            <textarea formControlName="desfour" name="" id="" cols="20" rows="8" class="w-100 border-0 form-control shadow shadow-sm rounded-0" placeholder="Description Para 4"></textarea>
                          </div>
                          <div>
                            <p class="form-error text-danger d-block mt-2 pb-3" *ngIf="!addProduct?.get('desfour')?.valid && addProduct?.get('desfour')?.touched || submitted && addProduct?.get('desfour')?.invalid">
                              <small>Description Para 4 is Required</small>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="">
                          <button type="submit" class="btn btn-danger w-100 mt-0 rounded-0 h-50 position-relative">{{editMode? 'Update' : 'Add'}} Product <i *ngIf="loader" class="fa fa-spinner fa-spin btn-loader"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  