<div class="px-3 py-4 p-sm-4 m-sm-2">
  <div class="row">
    <div class="col-sm-12">
        <div class="clearfix">
        <div class="float-start">
            <h4 class="mb-4">Orders <small>({{orderArray.length == '0'? '--' : orderArray.length}})</small></h4>
        </div>
        <div class="float-end" *ngIf="viewAll">
            <a routerLink="/admin/orders" class="text-danger fw-bold">View All Orders</a>
        </div>
        </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table shadow-sm">
          <thead class="border-bottom">
            <th class="p-4"><h6 class="mb-0 p-0">Sr.No</h6></th>
            <th class="p-4"><h6 class="mb-0 p-0">Product names and quantity</h6></th>
            <th class="p-4"><h6 class="mb-0 p-0">Order date</h6></th>
            <th class="p-4"><h6 class="mb-0 p-0">Price</h6></th>
            <th class="p-4"><h6 class="mb-0 p-0">Status</h6></th>
          </thead>
          <tbody>
            <ng-container *ngIf="loader">
              <tr class="" *ngFor="let item of orderLoader">
                <td class="p-4 ms-auto text-end" colspan="5">
                  <ngx-skeleton-loader count="1" appearance="line"  [theme]="{'width': '100%', 'height.px': 20,'margin.px': 0}"></ngx-skeleton-loader>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!loader">
              <tr class="" *ngFor="let item of orderArray;index as i">
                  <td class="px-4 py-4"><h6 class="mb-0">{{i+1}}</h6></td>
                  <td class="p-4">
                    <h6 class="mb-0">
                      <ng-container *ngFor="let product of item.products">
                        <div class="names">
                          <a class="text-dark" [routerLink]="['/product', product.productId]">{{product.title}}</a>
                          <span> ({{product.quantity}})</span>
                        </div>
                      </ng-container>
                    </h6>
                  </td>
                  <td class="p-4"><h6 class="mb-0">{{item.date}}</h6></td>
                  <td class="p-4"><h6 class="mb-0">{{item.orderPrice}}</h6></td>
                  <td class="p-4">
                    <h6 class="mb-0"><span class="badge bg-success pt-1 pb-2 px-2">{{item.status}}</span> 
                      <!-- <button (click)="onEditMode()" class="btn btn-danger p-0 px-2 ms-2"><i class="fa fa-pencil"></i></button> -->
                    </h6>
                    <select class="form-select mt-3 form-control" [value]="item.status"  (change)="onEditStatus(item.orderId, $event)">
                      <option selected value="processing">processing</option>
                      <option value="dispatched">dispatched</option>
                      <option value="out for delivery">out for delivery</option>
                      <option value="delivered">delivered</option>
                      <option value="cancelled">cancelled</option>
                    </select>
                  </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>