<div class="p-4 m-2">
  <div class="row">
    <div class="col-sm-12">
        <div class="clearfix">
        <div class="float-start">
            <h4 class="mb-4">Orders <small>(20)</small></h4>
        </div>
        <div class="float-end">
            <a href="/dfkdfj" class="text-danger fw-bold">View All Orders</a>
        </div>
        </div>
    </div>
    <div class="col-sm-12">
      <div>
        <table class="table shadow-sm">
          <thead class="border-bottom bg-light">
            <th class="p-4 py-3"><h6 class="mb-0 p-0">User</h6></th>
            <th class="p-4 py-3"><h6 class="mb-0 p-0">Product name</h6></th>
            <th class="p-4 py-3"><h6 class="mb-0 p-0">Image</h6></th>
            <th class="p-4 py-3"><h6 class="mb-0 p-0">Quantity</h6></th>
            <th class="p-4 py-3"><h6 class="mb-0 p-0">Order date</h6></th>
            <th class="p-4 py-3"><h6 class="mb-0 p-0">Transaction id</h6></th>
            <th class="p-4 py-3"><h6 class="mb-0 p-0">Price</h6></th>
          </thead>
          <tbody>
            <tr class="">
              <td class="px-4 py-2"><img src="/assets/images/banner.jpg" alt="no-img" class="img-fluid user" style="max-width: 80px;"></td>
              <td class="p-4"><h6 class="mb-0">Full T-shirt</h6></td>
              <td class="px-4 py-2"><img src="/assets/images/banner.jpg" alt="no-img" class="img-fluid" style="max-width: 80px;height: 50px;"></td>
              <td class="p-4"><h6 class="mb-0">3</h6></td>
              <td class="p-4"><h6 class="mb-0">12/12/2023</h6></td>
              <td class="p-4"><h6 class="mb-0">#54kldjfkjk45634fkdlfk</h6></td>
              <td class="p-4"><h6 class="mb-0">$20</h6></td>
            </tr>
            <tr class="">
              <td class="px-4 py-2"><img src="/assets/images/banner.jpg" alt="no-img" class="img-fluid user" style="max-width: 80px;"></td>
              <td class="p-4"><h6 class="mb-0">Full T-shirt</h6></td>
              <td class="px-4 py-2"><img src="/assets/images/banner.jpg" alt="no-img" class="img-fluid" style="max-width: 84px;height: 50px;"></td>
              <td class="p-4"><h6 class="mb-0">3</h6></td>
              <td class="p-4"><h6 class="mb-0">12/12/2023</h6></td>
              <td class="p-4"><h6 class="mb-0">#54kldjfkjk45634fkdlfk</h6></td>
              <td class="p-4"><h6 class="mb-0">$30</h6></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>